body {
  margin: 0;
  padding:0;
  color: black;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

h1 {
  color: #32425c;
  font-weight: bold;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

h3 {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  height: 280px;
  background-color: #f1f5f7;
  color: black;
}

.header-user-block a {
  color: white;
  text-decoration: none;
}

.header-user-block {
  height: 42px;
  background-color: #293449;
}

.header-user-block .container {
  font-size: 0;
}

a.logo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 220px;
  height: 32px;
  padding-top: 10px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
}

a.logo:hover {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}

input[type="search"] {
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #293449;
  color: white;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

input[type=search]+span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

input[type="search"]+span::before {
  content: "\1f50d";
  position: absolute;
  top: 11px;
  left: -250px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 17px;
  color: #ffffff;
  opacity: 0.3;
}

input[type="search"]:hover+span::before,
.bookmarks:hover::before,
.cart-empty:hover::before,
.cart-full:hover::before {
  opacity: 1;
}

input[type="search"]:focus {
  background-color: white;
  color: black;
}

input[type="search"]:focus+span::before {
  color: #ee3643;
  opacity: 1;
  outline: none;
}

.bookmarks {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  font-size: 17px;
  line-height: 18px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bookmarks:hover,
.cart-empty:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart-empty:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmarks::before {
  content: "\1f516";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  line-height: 18px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 17px;
  font-style: normal;
  color: #ffffff;
  opacity: 0.3;
}

.cart-empty,
.cart-full {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 18px;
}

.cart-full {
  background-color: #ee3643;
}

.cart-order {
  display: inline-block;
  vertical-align: middle;
  right: 0;
  width: 150px;
  text-align: center;
  font-size: 17px;
  line-height: 42px;
  background-color: #63a63e;
}

.cart-order:hover {
  background-color: #5fbb2d;
}

.cart-order:active {
  background-color: #518534;
}

.cart-empty::before,
.cart-full::before {
  content: "\62";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  line-height: 18px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 17px;
  font-style: normal;
  color: #ffffff;
  opacity: 0.3;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.shop-description {
  float: left;
  width: 197px;
  padding-top: 45px;
  padding-left: 53px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  color: red;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts {
  float: left;
  width: 270px;
  margin-left: 50px;
}

.header-contacts .phone {
  position: relative;
  width: 263px;
  margin-top: 45px;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 39px;
  font-weight: bold;
  text-align: center;
  color: #e9292a;
  border: 3px solid white;
}

.header-contacts .phone::before {
  content: "\1f4de";
  position: absolute;
  top: 10px;
  left: 13px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 22px;
  line-height: 18px;
  font-style: normal;
  color: #b7bfc8;
}

.header-contacts .address {
  min-width: 270px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #32425c;
}

.authorization,
.authorized {
  float: right;
  width: 300px;
  margin-top: 45px;
  text-align: right;
  font-size: 21px;
  line-height: 18px;
}

.authorized {
  position: relative;
  margin-bottom: 12px;
}

.icon-user {
  display: block;
  position: relative;
  text-align: left;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 47px;
  padding-right: 35px;
  margin-bottom: 12px;
  font-size: 21px;
  line-height: 18px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.icon-user:active {
  color: #c5c5c5;
}

.icon-user::before {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #c5c5c5;
}

.icon-logout {
  position: absolute;
  width: 40px;
  top: 12px;
  right: 10px;
  text-decoration: none;
  color: #c5c5c5;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: left;
  color: #000000;
  text-decoration: none;
  width: 75px;
  background-color: white;
  padding-left: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login::before {
  content: "\2386";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 19px;
  height: 16px;
  line-height: 18px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 22px;
  font-style: normal;
  color: #c5c5c5;
}

.login:hover::before,
.icon-user:hover::before,
.icon-logout:hover::before {
  color: #32425c;
}

.login:hover,
.registration:hover {
  color: #ee3643;
}

.icon-user:active::before,
.icon-logout:active::before {
  color: #c5c5c5;
}

.login:active,
.registration:active {
  color: #b2b2b2;
}

.registration {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 150px;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.authorized-extra {
  text-align: left;
}

.authorized-extra a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 17px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.authorized-extra a::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
}

.authorized-extra a:last-child::after {
  width: 0;
  height: 0;
}

.header-navigation {
  float: left;
  width: 940px;
  background-color: #32425c;
  margin-top: 36px;
  box-shadow: 0 5px 0 0 #293449;
}

.header-navigation ul {
  display: block;
  height: 55px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.header-navigation li {
  display: inline-block;
  vertical-align: top;
}

.header-navigation a {
  display: block;
  padding: 19px 31px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
}

.header-navigation a:hover {
  background-color: #293449;
}

.header-navigation a:active {
  background-color: #1d2739;
  color: #868c95;
}

.breadcrumbs {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  position: absolute;
  right: -25px;
  content: "\3e";
  font-family: "symbols-technomart";
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs li:last-child::after {
  font-size: 0;
}

.breadcrumbs a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.promo-block {
  margin-top: 60px;
  margin-bottom: 53px;
  position: relative;
}

.new::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  content: '';
  background: #000;
  background: url('../img/new-flag.png') no-repeat 0 0;
}

.promo {
  width: 277px;
  height: 100px;
  padding-top: 23px;
  padding-left: 23px;
  position: relative;
  margin-bottom: 20px;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.promo span {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: white;
}

.promo a {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
}

.promo a:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo a:active {
  background-color: rgba(0,0,0,0.3);
}

.materials {
  float: left;
  margin-right: 10px;
  background: #f6b22d url("../img/materials.png") no-repeat 210px 50%;
}

.tool {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  background: #4aafde url("../img/instruments.png") no-repeat 195px 50%;
}

.tech {
  float: left;
  margin-left: 10px;
  background: #cc79d1 url("../img/tech.png") no-repeat 190px 50%;
}

.view-port {
  float: left;
  width: 620px;
  position: relative;
}

.icon-left,
.icon-right {
    position: absolute;
    width: 22px;
    height: 40px;
    top: 114px;
    font-size: 45px;
    line-height: 18px;
    color: white;
    cursor: pointer;
}

.icon-left {
  left: 25px;
}

.icon-right {
  right: 25px;
}

.icon-left::before,
.icon-right::before {
  width: 22px;
  margin: 0;
}

.icon-left:hover,
.icon-right:hover {
  opacity: 0.5;
}

.slide {
  position: relative;
  display: none;
}

.slide-name {
  position: absolute;
  top: 27px;
  left: 25px;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
}

.slide-description {
  position: absolute;
  top: 63px;
  left: 25px;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #ee3643;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.promo-slider-btn {
  position: absolute;
  left: 25px;
  bottom: 22px;
  padding-left: 49px;
  padding-right: 45px;
}

.sale {
  float: right;
  background: #85d179 url("../img/sale.png") no-repeat 195px 50%;
}

.delivery {
  float: right;
  background: #f6b22d url("../img/delivery.png") no-repeat 190px 50%;
}

.item-list,
.producer-list,
.items {
  font-size: 0px;
  margin-top: 20px;
}

.popular-goods-header,
.popular-producers-header {
  height: 90px;
  padding-left: 30px;
  padding-right: 24px;
  background-color: #f7f3ec;
}

.popular-goods-header span,
.popular-producers-header span {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-top: 32px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-goods-btn,
.popular-producers-btn {
  display: inline-block;
  vertical-align: middle;
  width: 252px;
  text-align: center;
  float: right;
  margin-top: 25px;
}

.popular-goods-btn:hover,
.popular-producers-btn:hover {
  background-color: #ca2c37;
}

.popular-goods-btn:active,
.popular-producers-btn:active {
  background-color: #ba2732;
}

.popular-item,
.item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 220px;
  min-height: 315px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  outline: 1px solid #e5e5e5;
}

.popular-item:hover,
.item:hover,
.popular-producer:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
  outline: none;
}

.popular-item:hover .item-buy,
.item:hover .item-buy {
  display: block;
}

.item-buy {
  display: none;
}

.popular-item .img,
.item .img {
  position: relative;
  width: 218px;
  height: 180px;
}

.popular-item img,
.item img,
.popular-producer img { /*картинка любого размера центруется внутри блока .img*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.item-buy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: white;
}

.to-cart {
  display: block;
  position: relative;
  width: 134px;
  margin-top: 45px;
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #63a63e;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.to-cart:hover {
  background-color: #5fbb2d;
}

.to-cart:active {
  background-color: #518534;
  box-shadow: none;
}

.icon-basket::before {
  position: absolute;
  top: 11px;
  left: 13px;
  opacity: 0.3;
}

.icon-basket:hover::before {
  opacity: 1;
}

.to-bookmarks {
  display: block;
  width: 128px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #32425c;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.to-bookmarks:hover {
  border-color: #32425c;
}

.to-bookmarks:active {
  opacity: 0.3;
}

.item-name {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  display: block;
  margin-top: 12px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.price-btn {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 42px;
  width: 100px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  background-color: #ee3643;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px;
}

.price-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px;
  border-color: #fff #fff #fff transparent;
}

.popular-producer {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: 1px solid #e5e5e5;
}

.popular-producer:active {
  box-shadow: 0 4px 10px 0 rgba(41,52,73,0.5);
  opacity: 0.3;
}

.popular-producer a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.popular-item:nth-child(4n),
.popular-producer:nth-child(4n) {
  margin-right: 0px;
}

.services {
  position: relative;
  background-color: #f2f6f8;
  margin-top: 65px;
  padding-top: 65px;
}

.services-header {
  margin-bottom: 60px;
}

.services-header p {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-sections {
  display: block;
  position: relative;
  float: left;
  width: 240px;
  margin: 0;
  padding: 0;
}

.services-sections::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 260px;
  right: 0;
  top: -35px;
  background: url("../img/service-shadow.png") no-repeat;
}

.services-sections li {
  display: block;
  width: 217px;
  background-color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.services-sections li:hover {
  background-color: #293449;
}

.services-sections li.active {
  background-color: #ffffff;
  color: #32425c;
  border: none;
}

.service-description {
  float: left;
  width: 380px;
  margin-left: 80px;
}

.service-description p {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service {
  width: 100%;
  height: 284px;
  display: none;
}

.show-content {
  display: block;
}

.delivery-service {
  background: url("../img/service-delivery.png") no-repeat right bottom;
}

.guarantee-service {
  background: url("../img/service-guarantee.png") no-repeat right bottom;
}

.credit-service {
  background: url("../img/service-credit.png") no-repeat right bottom;
}

.credit-btn {
  display: inline-block;
  vertical-align: middle;
  width: 195px;
  margin-top: 15px;
  text-align: center;
}

.about {
  margin-bottom: 85px;
  padding-top: 80px;
}

.about p {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.transport-companies {
  margin: 0;
  padding: 0;
  padding-left: 36px;
  padding-bottom: 27px;
  list-style: none;
}

.transport-companies li {
  position: relative;
  margin-bottom: 18px;
}

.transport-companies li::before {
  position: absolute;
  content: "";
  left: -36px;
  top: 50%;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.more-btn {
  min-width: 220px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.about-company {
  float: left;
  width: 550px;
}

.about-contacts {
  float: right;
  width: 300px;
  position: relative;
}

.map {
  display: block;
  margin-bottom: 40px;
}

.modal-content-map {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -233px;
  margin-left: -470px;
  background: #e9e5dc url("../img/map.jpg") no-repeat;
  box-shadow: 0 0 16px 1px rgba(35,31,32,0.5);
}

.feedback-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 300px;
}

.popup {
  position: absolute;
  display: none;
}

.show-popup {
  display: block;
}

.popup-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.popup-close::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 25px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #ee3643;
}

.popup-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 25px;
  height: 6px;
  transform: rotate(135deg);
  background-color: #ee3643;
}

.write-us {
  width: 620px;
  height: 375px;
  left: -480px;
  top: 120px;
  padding-top: 47px;
  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
  border-top: 7px solid #ee3643;
}

.write-us .name {
  width: 216px;
  float: left;
  margin-left: 80px;
}

.write-us .e-mail {
  width: 216px;
  float: right;
  margin-right: 80px;
}

.write-us input,
.write-us textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;

  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.write-us input {
  width: 200px;
  height: 33px;
  padding-left: 12px;
  margin-bottom: 22px;
}

label[for="text"] {
  display: block;
  margin-left: 80px;
  margin-right: 80px;
}

.write-us textarea {
  padding: 10px 12px ;
  margin-bottom: 37px;
  width: 434px;
  height: 90px;
  margin-left: 80px;
}

.write-us label {
  display: block;
  margin-bottom: 8px;
}

.write-us .btn {
  height :75px;
  padding-top: 37px;
  background-color: #f1f1f1;
  text-align: center;
}

.write-us .button {
  display: block;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  border-radius: 3px;
}

.main-footer {
  height: 193px;
  background-color: #32425c;
  color: white;
}

.main-footer a {
  color: white;
  text-decoration: none;
}

.main-footer li>a:hover {
  text-decoration: underline;
}

.main-footer li>a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer .logo {
  font-size: 30px;
  line-height: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  float: right;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation li {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 40px;
  margin-left: 60px;
}

.copyright-footer {
  padding-top: 40px;
  padding-bottom: 35px;
  background-color: #293449;
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.copyright-footer a {
  color: #ffd180;
  text-decoration: none;
}

.copyright {
  float: left;
  width: 230px;
}

.copyright-footer-social {
  float: left;
  width: 150px;
  margin-left: 150px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #212a3a;
  border-radius: 20px;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn-vk::before {
  content: "\76";
  position: absolute;
  top: 15px;
  left: 11px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 18px;
  line-height: 11px;
  color: #ffffff;
}

.social-btn-fb::before {
  content: "\66";
  position: absolute;
  top: 16px;
  left: 15px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 18px;
  line-height: 11px;
  color: #ffffff;
}

.social-btn-inst::before {
  content: "\1f4f7";
  position: absolute;
  top: 16px;
  left: 13px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 18px;
  line-height: 11px;
  color: #ffffff;
}

.footer-mailto {
  float: left;
  min-width: 140px;
  margin-left: 100px;
}

.footer-mailto a:hover,
.footer-site a:hover {
  text-decoration: underline;
}

.footer-mailto a:active,
.footer-site a:active {
  color: #ee3643;
}

.footer-site {
  float: right;
  min-width: 115px;
}

.footer-contacts {
  margin-top: 30px;
}

.footer-contacts .address {
  float: left;
  width: 340px;
}

.footer-contacts ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  float: right;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts li {
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
}

.footer-contacts a {
  color: #ffd180;
}

/*---------------------------
Контент на странице каталога
-----------------------------*/
main h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 0;
  padding-left: 28px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filters {
  float: left;
  width: 220px;

  font-family: 'PTSans', 'Arial', sans-serif;
  text-transform: uppercase;
}

.filter {
  display: block;
  padding: 10px 19px;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  border-radius: 4px;
}

legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

fieldset {
  border: none;
  padding: 0;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 140px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .min-toggle {
  left: 20px;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls input {
  display: inline-block;
  width: 75px;
  padding: 10px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: black;
  border: none;
  border-radius: 4px;
  background-color: #f7f3ec;
}

.price-controls {
  white-space: nowrap;
  font-size: 16px;
  line-height: 18px;
}

.min-price {
  margin-right: 10px;
}

.max-price {
  margin-left: 10px;
}

.price {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid #e5e5e5;
}

fieldset label {
  font-size: 15px;
  line-height: 20px;
}

.producers {
  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  border-bottom: 2px solid #e5e5e5;
}

.power {
  margin-top: 15px;
  padding-top: 13px;

}

.label-input {
  position: relative;
  margin-bottom: 15px;
  padding-left: 33px;
  cursor: pointer;
}

.label-input input {
  display: none;
}

.checkbox-indicator,
.radio-btn {
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.checkbox-indicator::before,
.radio-btn::before {
  margin: 0;
}

.filters input[type="submit"] {
  display: block;
  width: 138px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #e5e5e5;
  background-color: white;

  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

}

.content {
  float: right;
  width: 700px;
}

.items {
  font-size: 0px;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  min-height: 315px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.item:nth-child(3n) {
  margin-right: 0px;
}

.about-product {
  padding-top: 70px;
  padding-bottom: 75px;
}
