body {
  margin: 0;
  padding:0;
  color: black;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

h1 {
  color: black;
  font-weight: bold;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 30px;
}

h2 {
  font-weight: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

h3 {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  height: 280px;
  background-color: #f1f5f7;
  color: black;
}

.header-user-block a {
  color: white;
  text-decoration: none;
}

.header-user-block {
  height: 42px;
  background-color: #293449;
}

.header-user-block .container {
  font-size: 0;
}

a.logo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 220px;
  height: 32px;
  padding-top: 10px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
}

a.logo:hover {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}

input[type="search"] {
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #293449;
  color: white;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

input[type=search]+span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

input[type="search"]+span::before {
  content: "\1f50d";
  position: absolute;
  top: 11px;
  left: -250px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 17px;
  color: #ffffff;
  opacity: 0.3;
}

input[type="search"]:hover+span::before,
.bookmarks:hover::before,
.cart-empty:hover::before,
.cart-full:hover::before {
  opacity: 1;
}

input[type="search"]:focus {
  background-color: white;
  color: black;
}

input[type="search"]:focus+span::before {
  color: #ee3643;
  opacity: 1;
  outline: none;
}

.bookmarks {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  font-size: 17px;
  line-height: 18px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bookmarks:hover,
.cart-empty:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart-empty:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmarks::before {
  content: "\1f516";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  line-height: 18px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 17px;
  font-style: normal;
  color: #ffffff;
  opacity: 0.3;
}

.cart-empty,
.cart-full {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 18px;
}

.cart-full {
  background-color: #ee3643;
}

.cart-order {
  display: inline-block;
  vertical-align: middle;
  right: 0;
  width: 150px;
  text-align: center;
  font-size: 17px;
  line-height: 42px;
  background-color: #63a63e;
}

.cart-order:hover {
  background-color: #5fbb2d;
}

.cart-order:active {
  background-color: #518534;
}

.cart-empty::before,
.cart-full::before {
  content: "\62";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  line-height: 18px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 17px;
  font-style: normal;
  color: #ffffff;
  opacity: 0.3;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.shop-description {
  float: left;
  width: 197px;
  padding-top: 45px;
  padding-left: 53px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  color: red;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts {
  float: left;
  width: 270px;
  margin-left: 50px;
}

.header-contacts .phone {
  width: 263px;
  margin-top: 45px;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 39px;
  font-weight: bold;
  text-align: center;
  color: #e9292a;
  border: 3px solid white;
}

.header-contacts .address {
  min-width: 270px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #32425c;
}

.authorization {
  float: right;
  width: 300px;
  margin-top: 45px;
  text-align: right;
  font-size: 21px;
  line-height: 18px;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: left;
  color: #000000;
  text-decoration: none;
  width: 75px;
  background-color: white;
  padding-left: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login::before {
  content: "\2386";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 19px;
  height: 16px;
  line-height: 18px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 22px;
  font-style: normal;
  color: #c5c5c5;
}

.login:hover::before {
  color: #32425c;
}

.login:hover,
.registration:hover {
  color: #ee3643;
}

.login:active,
.registration:active {
  color: #b2b2b2;
}

.registration {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 150px;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-navigation {
  float: left;
  width: 940px;
  background-color: #32425c;
  margin-top: 46px;
  box-shadow: 0 5px 0 0 #293449;
}

.header-navigation ul {
  display: block;
  height: 55px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.header-navigation li {
  display: inline-block;
  vertical-align: top;
}

.header-navigation a {
  display: block;
  padding: 19px 31px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
}

.header-navigation a:hover {
  background-color: #293449;
}

.header-navigation a:active {
  background-color: #1d2739;
  color: #868c95;
}

.promo-block {
  margin-top: 60px;
  margin-bottom: 53px;
  position: relative;
}

.new::before {
  content: "new";
  position: absolute;
  top: 15px;
  right: 8px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: white;
  transform: rotate(45deg);
}

.promo {
  width: 277px;
  height: 100px;
  padding-top: 23px;
  padding-left: 23px;
  position: relative;
  margin-bottom: 20px;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.promo span {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: white;
}

.promo a {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
}

.promo a:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo a:active {
  background-color: rgba(0,0,0,0.3);
}

.materials {
  float: left;
  margin-right: 10px;
  background: #f6b22d url("../img/materials.png") no-repeat 210px 50%;
}

.tool {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  background: #4aafde url("../img/instruments.png") no-repeat 195px 50%;
}

.tech {
  float: left;
  margin-left: 10px;
  background: #cc79d1 url("../img/tech.png") no-repeat 190px 50%;
}

.view-port {
  float: left;
  width: 620px;
}

.slide {
  position: relative;
}

.slide-name {
  position: absolute;
  top: 27px;
  left: 25px;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
}

.slide-description {
  position: absolute;
  top: 63px;
  left: 25px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #ee3643;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.promo-slider-btn {
  position: absolute;
  left: 25px;
  bottom: 22px;
  padding-left: 49px;
  padding-right: 45px;
}

.sale {
  float: right;
  background: #85d179 url("../img/sale.png") no-repeat 195px 50%;
}

.delivery {
  float: right;
  background: #f6b22d url("../img/delivery.png") no-repeat 190px 50%;
}

.item-list,
.producer-list {
  font-size: 0px;
  margin-top: 20px;
}

.popular-goods-header,
.popular-producers-header {
  height: 90px;
  padding-left: 30px;
  padding-right: 24px;
  background-color: #f7f3ec;
}

.popular-goods-header span,
.popular-producers-header span {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-top: 32px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-goods-btn,
.popular-producers-btn {
  display: inline-block;
  vertical-align: middle;
  width: 252px;
  text-align: center;
  float: right;
  margin-top: 25px;
}

.popular-goods-btn:hover,
.popular-producers-btn:hover {
  background-color: #ca2c37;
}

.popular-goods-btn:active,
.popular-producers-btn:active {
  background-color: #ba2732;
}

.popular-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 220px;
  min-height: 315px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  outline: 1px solid #e5e5e5;
}

.popular-item .img {
  position: relative;
  width: 218px;
  height: 180px;
}

.popular-item img,
.popular-producer img { /*картинка любого размера центруется внутри блока .img*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.popular-item-name {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  display: block;
  margin-top: 12px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.price-btn {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 42px;
  width: 100px;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  background-color: #ee3643;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px;
}

.price-btn::after {
  content: "";
    position: absolute;
    top: 0;
    right: -19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px;
    border-color: #fff #fff #fff transparent;
}

.popular-producer {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: 1px solid #e5e5e5;
}

.popular-producer a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.popular-item:nth-child(4n),
.popular-producer:nth-child(4n) {
  margin-right: 0px;
}

.services {
  position: relative;
  background-color: #f2f6f8;
  margin-top: 65px;
  padding-top: 65px;
}

.services-header {
  margin-bottom: 60px;
}

.services-header p {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-sections {
  display: block;
  position: relative;
  float: left;
  width: 240px;
  margin: 0;
  padding: 0;
}

.services-sections::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 260px;
  right: 0;
  top: -35px;
  background: url("../img/service-shadow.png") no-repeat;
}

.services-sections li {
  display: block;
  width: 217px;
  background-color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.services-sections li:hover {
  background-color: #293449;
}

.services-sections li.active {
  background-color: #ffffff;
  color: #32425c;
  border: none;
}

.service-description {
  float: left;
  width: 300px;
  margin-left: 80px;
}

.service-description p {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service {
  width: 100%;
  height: 284px;
}

.delivery-service {
  background: url("../img/service-delivery.png") no-repeat right bottom;
}

.guarantee-service {
  background: url("../img/service-guarantee.png") no-repeat right bottom;
}

.credit-service {
  background: url("../img/service-credit.png") no-repeat right bottom;
}

.about {
  margin-bottom: 85px;
  padding-top: 80px;
}

.about p {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.transport-companies {
  margin: 0;
  padding: 0;
  padding-left: 36px;
  padding-bottom: 27px;
  list-style: none;
}

.transport-companies li {
  position: relative;
  margin-bottom: 18px;
}

.transport-companies li::before {
  position: absolute;
  content: "";
  left: -36px;
  top: 50%;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.more-btn {
  min-width: 220px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.about-company {
  float: left;
  width: 550px;
}

.about-contacts {
  float: right;
  width: 300px;
}

.map {
  display: block;
  margin-bottom: 40px;
}

.feedback-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 300px;
}

.main-footer {
  height: 193px;
  background-color: #32425c;
  color: white;
}

.main-footer a {
  color: white;
  text-decoration: none;
}

.main-footer li>a:hover {
  text-decoration: underline;
}

.main-footer li>a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer .logo {
  font-size: 30px;
  line-height: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  float: right;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation li {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 40px;
  margin-left: 60px;
}

.copyright-footer {
  padding-top: 40px;
  padding-bottom: 35px;
  background-color: #293449;
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.copyright-footer a {
  color: #ffd180;
  text-decoration: none;
}

.copyright {
  float: left;
  width: 230px;
}

.copyright-footer-social {
  float: left;
  width: 150px;
  margin-left: 150px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #212a3a;
  border-radius: 20px;
}

.social-btn-vk::before {
  content: "\76";
  position: absolute;
  top: 15px;
  left: 11px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 18px;
  line-height: 11px;
  color: #ffffff;
}

.social-btn-fb::before {
  content: "\66";
  position: absolute;
  top: 16px;
  left: 15px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 18px;
  line-height: 11px;
  color: #ffffff;
}

.social-btn-inst::before {
  content: "\1f4f7";
  position: absolute;
  top: 16px;
  left: 13px;
  text-align: center;
  font-family: 'symbols-technomart';
  font-size: 18px;
  line-height: 11px;
  color: #ffffff;
}

.footer-mailto {
  float: left;
  min-width: 140px;
  margin-left: 100px;
}

.footer-site {
  float: right;
  min-width: 115px;
}

.footer-contacts {
  margin-top: 30px;
}

.footer-contacts .address {
  float: left;
  width: 340px;
}

.footer-contacts ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  float: right;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts li {
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
}

.footer-contacts a {
  color: #ffd180;
}

/*---------------------------
Контент на странице каталога
-----------------------------*/
.filters {
  float: left;
  width: 220px;
}

.content {
  float: right;
  width: 700px;
}

.items {
  font-size: 0px;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  min-height: 315px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.item:nth-child(3n) {
  margin-right: 0px;
}

.about-product {
  padding-top: 70px;
  padding-bottom: 75px;
}

/*div, nav, main, header {
  outline: 1px solid black;
}*/
